/* 
Project : One Page Cv
Author  : Batuhan Nedim TEMEL
Date    : 29.10.2023
Version : 1.0 */

/* ########################################################## */
/* Root */
:root{
    --templateBgColor:#000;
}

/* ########################################################## */
/* Common Property */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Manrope', sans-serif;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

h2{
    padding-top: 7rem; /* 7*22 */
    color: #8b4711;
}

b,strong{
    text-transform: uppercase;
}

p{
    text-align: justify;
}

hr{
    color: #6e6c6c;
}

/* My Profile on Navbar */
.myProfile{
    font-family: 'Ms Madi', cursive;
    font-size: 1.5rem;
    color: #7a7c7a;
}

/* mySpecialSize */
.myFontSize {
    font-size: 1.5rem;
    /* 1.5*20 */
}

.headLine{
    text-transform: uppercase;
    color:#8b4711;
}

/* line-clamp */
.line-clamp5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
}

/* clearfix */
.myClearFix::after{
    display: block;
    content: "";
    clear: both;
}

/* Navbar */
.DarkTheme{
    background-color: var(--templateBgColor);
    color: #fff;
}

/* Nav */
nav{
    background-color: #fefefe;
}

nav i{
    font-size: 2rem;
    color: #8b4711;
}

/* Header */
header {
    max-width: 100%;
    height:auto;
}

/* Main */
main i{
    font-size: 2.5rem;
    color: #8b4711;
}

/* Footer */
footer{
    height: 13rem;
}

footer i{
    font-size: 1.7rem;
}

/* darkTheme Icon */
#dark_icon:hover{
    color:#fff ;
}

/* parallax */
#email_id{
    height: 20rem;
    background-image: url("./img/working-8103458_1920.jpg");
    background-repeat: no-repeat;
    background-position: 35% 35%;
    background-size: cover;
    background-attachment: fixed;
    color:#c31334 ;
}

#contact_id{
    height: 22rem;
    background-color: #854f24;
}

#backto_top{
    position:fixed;
    right: 5px;
    bottom: 5px;
}





