/* 
Project : One Page Cv
Author  : Batuhan Nedim TEMEL
Date    : 29.10.2023
Version : 1.0 */

/* ########################################################## */
/* Root */
:root{
    --templateBgColor:#000;
}


/* ########################################################## */
/* Common Property */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Manrope', sans-serif;
    position: relative;
}

/* ########################################################## */

img {
    max-width: 100%;
    height: auto;
}

h2{
    padding-top: 7rem; /* 7*20 */
    color: #8b4711;
}

b,strong{
    text-transform: uppercase;
}

p{
    text-align: justify;
}

hr{
    color: #6e6c6c;
}

.myProfile{
    font-family: 'Ms Madi', cursive;
    font-size: 1.5rem;
    color: #7a7c7a;
}

/* mySpecialSize */
.myFontSize {
    font-size: 1.5rem;
    /* 1.5*20 */
}

.headLine{
    text-transform: uppercase;
    color:#8b4711;
}

/* line-clamp */
.line-clamp5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
}

/* ########################################################## */
/* clearfix */
.myClearFix::after{
    display: block;
    content: "";
    clear: both;
}

.DarkTheme{
    background-color: var(--templateBgColor);
    color: #fff;
}

nav{
    background-color: #fefefe;
    
}

nav i{
    font-size: 2rem;
    color: #8b4711;
}

header {
    max-width: 100%;
    height:auto;
}


main i{
    font-size: 2.5rem;
    color: #8b4711;
}

footer{
    height: 13rem;
}

footer i{
    font-size: 1.7rem;
}

#email_id{
    color:#8b4711 ;
}

#contact_id{
    height: 22rem;
    background-color: #854f24;
}

#backto_top{
    position:fixed;
    right: 5px;
    bottom: 5px;
}





